<h1>Session#home</h1>
<table>
  <tr>
     <th>ID &nbsp; &nbsp; &nbsp;</th> 
    <th>Name</th>
    <th>DOB</th>
    <th>Gender</th>
    <th>Address</th>
  </tr>

   <%-# @patient_list.position.UUID.each do |UUID| %> 
   <% if !@patients.empty? %>
   <% @patients.each do |patient| %>
   <tr>
	<td><%= patient.id %>
    <td><%= patient.patient_name %></td>
    <td><%= patient.date_of_birth %></td>
    <td><%= patient.gender %></td>
    <td><%= patient.address %></td>
  </tr>
  <% end %>
  <% else %>
  <tr> No Patients registered yet</tr></br>
  <%=link_to('Register a new patient',{:controller => 'patient', :action => 'register'}) %>

  <% end %>

</table>
