<% @page_title = "loginapp | Patient Profile" %>
<h1>Patient profile</h1>
<p>
<strong>Name :</strong> <%= @patient.patient_name %><br />
<strong>DOB:</strong> <%= @patient.date_of_birth %><br />
<strong>Gender:</strong> <%= @patient.gender %><br />
<strong>Address:</strong> <%= @patient.address %><br />
<strong>PIN:</strong> <%= @patient.pin %><br />
</p>
<%= link_to 'Back', {:controller => 'session',:action => 'home'} %>
